.message{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.message h1{
  color: #303972;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 500px){
  .message h1{
    font-size: 20px;
  }
}