.NewStudent{
    background-color: #F3F4FF;
    min-height: 100vh;
    
}

.NewStudent h1{
    color: #303972;
    padding: 15px 0 0 30px;
}

.titleForm{
    background: #4D44B5;
    padding: 20px 0 10px;
    height: 100%;
    border-radius: 20px 20px 0  0;
    color: #FFFFFF;
    padding-left: 30px;
}
.form{
     display: flex;
     flex-direction: column;
     margin: 40px;
     border-radius: 20px;
     background-color: #ffff;
     gap: 20px;

}

.NewStudent form{
    padding: 20px 40px;
    
}
.spaceForms{
   display: flex;
   align-items: baseline;
   gap: 20px;
   margin-bottom: 20px;
   
}


.inlineGroup {
  display: flex;
  gap: 20px; /* espaço entre os inputs na mesma linha */
  align-items: flex-end; /* alinha os inputs pela base */
}

/* Ajuste opcional para o input sem label */
.inlineGroup input {
  width: 100%;
}

/* Caso queira que ambos os inputs ocupem o mesmo tamanho */
.inlineGroup > * {
  flex: 1;
}

.NewStudent textarea{
    border: solid 1px #C1BBEB;
     border-radius: 5px;
}

.submit{
    border: none;
    background-color: #4D44B5;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffff;;
}

.buttonSave{
    border: 1px solid #4D44B5;
    color: #4D44B5;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
}

.buttonsForm{
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: flex-end;
   margin: 0 40px;
    
}

.radioGroup{
    margin-top: 15px;
}

.radioGroup input{
    border: solid 1px #C1BBEB;
}

.radioGroup label{
     color: #A098AE;
     margin-left: 5px;
     font-size: 14px;
}